<a href="/"><h1>The Tech Blog</h1></a>

<div class="inner-content">
  {{#each blogposts as |blogpost| }}
  <div class="blogposts">
    <div class="blogpost-title">
      <h2>{{blogpost.title}}</h2>
      <p>Posted by {{blogpost.user.username}} on {{blogpost.date_created}}</p>
    </div>
    <p class="blogpost-contents">{{blogpost.contents}}</p>
  </div>
  {{/each}}
  
  {{#each comments as |comment| }}
  <div class="comment-contents">
    <p>{{comment.message}}</p>
    <p>-Posted by {{comment.user.username}} on {{comment.date_created}}</p> 
  </div>
  {{/each}}
   
  {{#if logged_in}}
  <form class="create-comment" data-id="{{id}}">
    <label>Comment</label>  
    <input type="comment" id="post-comment" placeholder="I have really loved learning how to manage data in a SQL database." />
    <button id="comment" type="submit" data-id="{{id}}">Submit</button>
  </form>
  {{/if}}
</div>

<script src="/js/createComment.js"></script>