<a href="/"><h1>Tech Blog</h1></a>

<div class="inner-content">
  {{#each blogposts as |blogpost| }}
  {{blogpost.title}}
  {{blogpost.contents}}
  {{blogpost.date_created}}
  {{/each}}
  
  {{#each comments as |comment| }}
  <div>
    <p>{{comment.message}}</p>
    <p>-Posted by {{comment.user.username}} on {{comment.date_created}}</p> 
  </div>
  {{/each}}
   
  {{#if logged_in}}
  <form class="create-comment" data-id="{{id}}">
    <label>Comment</label>  
    <input type="comment" id="post-comment" placeholder="I have really loved learning how to manage data in a SQL database." />
    <button id="comment" type="submit" data-id="{{id}}">Submit</button>
  </form>
  {{/if}}
</div>

<script src="/js/createComment.js"></script>